body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000,#f8f9fa );
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.2em;
    color: #f8f9fa;
    margin-bottom: 30px;
  }
  
  .countdown-container {
    background: rgba(255, 255, 255, 0);
    font-size: 2.5em;
    padding: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
  }
  
  #countdown span {
    color: whitesmoke;
  }
  
  .name {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }

  .name label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: white;
  }

  .name input {
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  .name input:focus {
    border-color: #007bff;
  }

  .name input::placeholder {
    color: black;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .party-image {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Detrás de los demás elementos */
  }

  .event-info{
    font-size: 1.2em;
    color: #ffffff;
  }

  #eventLocation {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #eventLocation h3, #eventLocation h4 {
    color: whitesmoke;
  }
  
  #eventLocation p {
    font-size: 16px;
  }
  
  #eventLocation .button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  #eventLocation .button:hover {
    background-color: #0056b3;
  }
  .asistencia{
    font-size: 25px;
    color: white;
    font-weight: 700;
  }

  .llegar{
    font-size: 20px;
    color: whitesmoke;
    font-weight: 700;
  }
  